@import url("module.css");
@import url("dark.css");

#content {
    width:40rem;
    height: 30rem;
    resize: none;
}

#id_zone {
    display: flex;
    justify-content: space-between;
}

    #id_zone * {
        width: 19rem;
        border-collapse: collapse;
    }

#write * {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

#title {
   width: 40rem;
}

#id, #pw, #title {
    height: 2rem;
}